#counterlbl{
    display: block;
    text-align: center;
    font-size: 10em;
}
#btnCounter{
    text-align: center;
}
.buttons{
  padding: 10px;
  font-size: 1.5em;
  color:white;
    background-color: #0831ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: #03237a;
}